//----------------------------------------------------
//- Page: Index
//----------------------------------------------------

extends base/_layout.pug

block vars
  include base/_config.pug
  - var key = "index"
  - var page = pages[key]

block contents

  include common/_header.pug

  section.section.is-topcover.is-center.is-active
    .inner
      img.logo.is-title(src=path.img+"/"+"logo-set-tate-musubii.svg" alt="MUSUBii")
      h2.texts.is-light #{page.desc}
      p.texts.is-light.is-strong
        | #{github.ver}
      p.texts.is-light
        i.fa.fa-github(aria-hidden="true")
        a.text.is-link-reverse(href=github.url+"/"+github.id+"/"+github.repo)
          span.text Repository
        | &nbsp;/&nbsp;
        a.text.is-link-reverse(href=github.url+"/"+github.id+"/"+github.repo+"/releases")
          span.text Releases
      .btns.is-center
        a.btn.is-lg.is-ghost.is-round.is-cyan(href="css/musubii.min.css" download="musubii.min.css")
          i.fa.fa-download(aria-hidden="true")
          span.text Download

  section.section.is-tab
    .inner
      nav.tabs.is-main.is-sm.is-strong.is-uppercase.is-slide
        a.tab.is-ghost.is-home.is-active(href="#") Home
        a.tab.is-ghost(href="#") Getting Started
        a.tab.is-ghost(href="#") Documentation
        a.tab.is-ghost(href="#") Libraries
        //-a.tab.is-ghost(href="#") Templates

  main.main

    section.section.is-main.is-home.is-active.is-yakuhanjp
      .inner
        .group.is-home-about
          h2.heading.is-lg.is-primary.is-center 「腹が減ってはコードが書けぬ」
          h3.texts.is-sm.is-center
            span.text.is-inline-block Webデザインの
            span.text.is-inline-block 腹ごなしに、
            span.text.is-inline-block HTML/CSS
            span.text.is-inline-block フレームワーク
            span.text.is-inline-block 「MUSUBii（むすびー）」
            span.text.is-inline-block を
            span.text.is-inline-block どうぞ。
            br
            span.text.is-inline-block MUSUBiiは、
            span.text.is-inline-block 日本語サイトの
            span.text.is-inline-block デザイン・コーディングを
            span.text.is-inline-block 元気づけます。
        .group.is-home-point
          .grid
            .col.is-mobile-12.is-tablet-0
              .group.is-about-graphic-2.is-dark-6.is-center
                i.fa.fa-html5(aria-hidden="true")
                i.fa.fa-css3(aria-hidden="true")
              h4.heading.is-center.is-sm OOCSSを応用したラフな設計
            .col.is-mobile-12.is-tablet-0
              .group.is-about-graphic-2.is-center
                .mark-demo(aria-hidden="true")
                  .mark-demo-wrap
                    span.mark-demo-japanese あ
              h4.heading.is-center.is-sm 日本語フォントの利用を想定
            .col.is-mobile-12.is-tablet-0
              .group.is-about-graphic-2.is-dark-6.is-center
                i.fa.fa-file-code-o(aria-hidden="true")
              h4.heading.is-center.is-sm Javascript 未使用

    section.section.is-main.is-getting-started.is-yakuhanjp
      .inner
        h2.heading.is-xxl Getting Started
        h3.heading.is-xl Use
        .group.is-wrap
          h4.heading.is-lg Download
          p.texts.is-sm
            | CSSファイル&nbsp;
            code.code musubii.min.css
            | &nbsp;を
            a.text.is-primary.is-link.is-solid(href="css/musubii.min.css" download="musubii.min.css")
              | ダウンロード
              i.fa.fa-download.is-fit(aria-hidden="true")
            | 後、読み込んでください。
          pre.pre
            code.code.html.
              &lt;link rel=&quot;stylesheet&quot; href="css/musubii.min.css"&gt;
          h4.heading.is-lg
            a.text.is-primary.is-link(href="https://www.npmjs.com/package/musubii")
              span npm
          pre.pre
            code.code.
              npm install musubii
          h4.heading.is-lg
            a.text.is-primary.is-link(href="https://cdn.jsdelivr.net/gh/qrac/musubii/")
              span CDN
          pre.pre
            code.code.html.
              &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/gh/qrac/musubii@2.2.0/docs/css/musubii.min.css&quot;&gt;
        h3.heading.is-xl Detail
        .group.is-wrap
          h4.heading.is-lg HTML
          p.texts.is-sm
            | 要素&nbsp;
            code.code .(xxxx)
            | &nbsp;1つに対して、状態&nbsp;
            code.code .is-(xxxx)
            | &nbsp;を複数追加してスタイリングするのが基本です。
            br
            | すべてのクラス名は英小文字・数字・ハイフン1つで構成されています。
            .group.is-wrap.is-example
              .btns
                .btn.is-plain.is-primary ボタンの例 A
                .btn.is-plain.is-success ボタンの例 B
                .btn.is-plain.is-success.is-round ボタンの例 C
                .btn.is-plain.is-success.is-round.is-lg ボタンの例 D
            pre.pre.is-label.is-html
              code.code.html.
                &lt;div class=&quot;btn is-plain is-primary&quot;&gt;ボタンの例 A&lt;/div&gt;
                &lt;div class=&quot;btn is-plain is-success&quot;&gt;ボタンの例 B&lt;/div&gt;
                &lt;div class=&quot;btn is-plain is-success is-round&quot;&gt;ボタンの例 C&lt;/div&gt;
                &lt;div class=&quot;btn is-plain is-success is-round is-lg&quot;&gt;ボタンの例 D&lt;/div&gt;
        .group.is-wrap
          h4.heading.is-lg CSS
          p.texts.is-sm
            | CSSのレイヤーは主に4つに分類されています。
          ul.list.is-circle.is-sm
            li.item
              span.text.is-strong Base
              | &nbsp;… リセットCSSなどの下地
            li.item
              span.text.is-strong Layout
              | &nbsp;… 余白・マージン・グリッドシステム
            li.item
              span.text.is-strong Module
              | &nbsp;… ボタン・テキスト・リスト・見出しなど
            li.item
              span.text.is-strong Utility
              | &nbsp;… 調整用モディファイア
        .group.is-wrap
          h4.heading.is-lg RWD
          p.texts.is-sm
            | 5つの画面サイズで可変するレスポンシブウェブデザインになっています。
          ul.list.is-circle.is-sm
            li.item
              span.text.is-strong Mobile
              | &nbsp;… ~ 575px
            li.item
              span.text.is-strong Fablet
              | &nbsp;… 576px ~ 767px
            li.item
              span.text.is-strong Tablet
              | &nbsp;… 768px ~ 991px
            li.item
              span.text.is-strong Desktop
              | &nbsp;… 992px ~ 1199px
            li.item
              span.text.is-strong Wide
              | &nbsp;… 1200px ~
        h3.heading.is-xl Support
        .group
          .grid
            .col.is-mobile-12.is-desktop-6
              .group.is-scroll-x
                table.table.is-sm.is-center.is-nowrap.is-middle.is-border
                  thead
                    tr.box.is-paint
                      th
                        i.fa.fa-chrome(aria-hidden="true")
                        span.text Chrome
                      th
                        i.fa.fa-firefox(aria-hidden="true")
                        span.text Firefox
                      th
                        i.fa.fa-internet-explorer(aria-hidden="true")
                        span.text IE
                      th
                        i.fa.fa-edge(aria-hidden="true")
                        span.text Ege
                      th
                        i.fa.fa-safari(aria-hidden="true")
                        span.text Safari(Mac)
                  tbody
                    tr
                      td
                        span.text Newest
                      td
                        span.text Newest
                      td
                        span.text 11~
                      td
                        span.text Newest
                      td
                        span.text Newest
            .col.is-mobile-12.is-desktop-6
              .group.is-scroll-x
                table.table.is-sm.is-center.is-nowrap.is-middle.is-border
                  thead
                    tr.box.is-paint
                      th
                        i.fa.fa-safari(aria-hidden="true")
                        span.text Safari(iOS)
                      th
                        i.fa.fa-chrome(aria-hidden="true")
                        span.text Chrome(Android)
                      th
                        i.fa.fa-globe(aria-hidden="true")
                        span.text Browser(Android)
                  tbody
                    tr
                      td
                        span.text Newest
                      td
                        span.text Newest
                      td
                        span.text 4.4~

    section.section.is-main.is-documentation.is-yakuhanjp
      .inner
        h2.heading.is-xxl Documentation
        nav.group.is-documentation-nav
          p.texts.is-sm
            span.text Layout >&nbsp;
            span.text.is-dark-5
              span.text.is-link-reverse.is-active Section
              | &nbsp;/&nbsp;
              span.text.is-link-reverse Space
              | &nbsp;/&nbsp;
              span.text.is-link-reverse Grid
          p.texts.is-sm
            span.text Module >&nbsp;
            span.text.is-dark-5
              span.text.is-link-reverse Heading
              | &nbsp;/&nbsp;
              span.text.is-link-reverse Text
              | &nbsp;/&nbsp;
              span.text.is-link-reverse Button
              | &nbsp;/&nbsp;
              span.text.is-link-reverse List
              | &nbsp;/&nbsp;
              span.text.is-link-reverse Table
              | &nbsp;/&nbsp;
              span.text.is-link-reverse Form
              | &nbsp;/&nbsp;
              span.text.is-link-reverse Icon
              | &nbsp;/&nbsp;
              span.text.is-link-reverse Alert
              | &nbsp;/&nbsp;
              span.text.is-link-reverse WYSIWYG
          p.texts.is-sm
            span.text Utility >&nbsp;
            span.text.is-dark-5
              span.text.is-link-reverse Size
              | &nbsp;/&nbsp;
              span.text.is-link-reverse Deco
              | &nbsp;/&nbsp;
              span.text.is-link-reverse Display
              | &nbsp;/&nbsp;
              span.text.is-link-reverse Clearfix
        .groups.is-documentation-contents
          .content.is-active
            include parts/_section.pug
          .content
            include parts/_space.pug
          .content
            include parts/_grid
          .content
            include parts/_heading
          .content
            include parts/_text.pug
          .content
            include parts/_btn.pug
          .content
            include parts/_list.pug
          .content
            include parts/_table.pug
          .content
            include parts/_form.pug
          .content
            include parts/_icon.pug
          .content
            include parts/_alert.pug
          .content
            include parts/_wysiwyg.pug
          .content
            include parts/_size.pug
          .content
            include parts/_deco.pug
          .content
            include parts/_display.pug
          .content
            include parts/_clearfix.pug

    section.section.is-main.is-libraries.is-yakuhanjp
      .inner
        h2.heading.is-xxl Libraries
        p.texts.is-sm
          | 各種ライブラリとの併用が可能です。
        .group.is-wrap
          h3.heading.is-lg
            a.text.is-primary.is-link(href="https://qrac.github.io/yakuhanjp/")
              span.text Yaku Han JP
          p.texts.is-sm
            | Yaku Han JPを読み込むと、メイリオなどの約物（カッコや句読点）の余白を詰めて表示できます（Yaku Han JPsはカッコのみ）。
            br
            | MUSUBiiではクラス名&nbsp;
            code.code .is-yakuhanjp
            | &nbsp;
            code.code .is-yakuhanjps
            | &nbsp;で、それぞれ適応できます。
          pre.pre
            code.code.html.
              &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/yakuhanjp/2.0.0/css/yakuhanjp.min.css&quot;&gt;
              &lt;link rel=&quot;stylesheet&quot; href="https://cdn.jsdelivr.net/yakuhanjp/2.0.0/css/yakuhanjp_s.min.css"&gt;
          h3.heading.is-lg
            a.text.is-primary.is-link(href="http://fontawesome.io/")
              span.text Font Awesome
          pre.pre
            code.code.html.
              &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css&quot;&gt;
              &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css&quot;&gt;
          h3.heading.is-lg
            a.text.is-primary.is-link(href="https://material.io/icons/")
              span.text Material Icons
          pre.pre
            code.code.html.
              &lt;link rel=&quot;stylesheet&quot; href=&quot;https://fonts.googleapis.com/icon?family=Material+Icons&quot;&gt;
          h3.heading.is-lg
            a.text.is-primary.is-link(href="https://fonts.google.com/")
              span.text Google Fonts
          pre.pre
            code.code.
              &lt;link rel=&quot;stylesheet&quot; href=&quot;https://fonts.googleapis.com/css?family=xxxxxx&quot;&gt;
          h3.heading.is-lg
            a.text.is-primary.is-link.is-solid(href="https://jquery.com/")
              span.text jQuery
          pre.pre
            code.code.html.
              &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js&quot;&gt;&lt;/script&gt;
              &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js&quot;&gt;&lt;/script&gt;
              &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js&quot;&gt;&lt;/script&gt;

  include common/_footer.pug